<h1>Write a new tweet</h1>


 <div id = "contact-us">
	<form action="/show" method="POST">
		<textarea name="comments" cols="50" rows="10">
		</textarea><br>
		<input type="submit" value="Submit" />
	</form>